
<p class="footlinks">
  <a href="/blog/feed.xml">Atom Feed</a> · <a href="/contact.html">Contact</a> · <a href="#top">Top</a>
</p>

<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="copyright">
  <ul>
    <li>
      <img src="/media/cc.png" alt="cc" width="24" height="24">
    </li>

    <li>
      <img src="/media/by.png" alt="by" width="24" height="24">
    </li>

    <li>
      <img src="/media/nc.png" alt="nc" width="24" height="24">
    </li>

    <li>
      <img src="/media/sa.png" alt="sa" width="24" height="24">
    </li>
  </ul>
</a>

<p class="build">
  Last updated <time>%T</time> · Built with %c
</p>
