<aside class="asidebar">

  <div class="logo">
    <a href="/">

      <picture>
	<img src="/media/me.jpg" alt="Ethan Goan">
      </picture>

    </a>
  </div>

  <nav class="main-menu">
    <ul>
      <li>
	<a href="/">Home</a>
      </li>

      <li>
	<a href="/emacs/">Emacs</a>
      </li>
      
      <li>
	<a href="/misc/">Misc</a>
      </li>

      <li>
	<a href="#" data-theme-toggle aria-label="Dark Theme?">Dark Theme?</a>
      </li>
    </ul>
  </nav>

</aside>

<script src="/js/theme-toggle.js"></script>
