<link rel="alternate"
      type="application/rss+xml"
      href="/blog/feed.xml"
      title="Ethan Goan"/>

<!-- css -->
<link rel="preload" href="/css/tufte.css" as="style">
<link rel="preload" href="/css/ox-tufte.css" as="style">
<link rel="preload" href="/css/aside-bar.css" as="style">

<link rel="stylesheet" href="/css/tufte.css">
<link rel="stylesheet" href="/css/ox-tufte.css">
<link rel="stylesheet" href="/css/aside-bar.css">

<!-- mathjax -->
<script type="text/javascript" id="MathJax-script" async
	src="/js/tex-mml-chtml.js">
    MathJax = { tex: { inlineMath: [['$', '$'], ['\\\\(', '\\\\)']], tags: 'ams' }, svg: { fontCache: 'global' }};
</script>

<meta property="og:site_name" content="Ethan Goan">
<meta property="og:locale" content="en_US">
